@media only screen and (max-width: 600px) {
    
    /* Estilos específicos para telas menores (exemplo: 600 pixels de largura) */
}


html{
    background-color: #7B68EE;
}


body{
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 100%;





}
.header-container{
    width: 100%;
    height: 70px;
    background-color: #7B68EE;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 10px rgb(59, 59, 71);
    position: fixed;
}
.logo-header{
    margin: 70px;
    font-size: 30px;


}
.itens-header{
    margin: 70px;

    

}
.itens-nav-bar{
    display: flex;
    gap: 60px;
    list-style: none;
}
.container{
    margin: 0;
    padding: 1px;
    color: white;
    height: 100%;
}
.box-text{
    margin: 60px;
    margin-top: 150px;

   

}
.principal-text{
    font-size: 45px;

    
}
p{
    font-size: 20px;
}
.second-part{
   background-color: #f4fff8;
    height: 70%;
    display: flex;
    
    
}
.second-title{
    margin: 90px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: #7B68EE;
   
}
.title-and-list{
    position: relative;
    opacity: 0;
    filter: blur(13px);
    transition: all 3s;
    transform: translateX(
        -100%
    );

   
}
.info{
    position: relative;
    bottom: 50px;
    display: flex;
    gap: 20px;
    margin: 70px;
    font-size: 20px;
    flex-direction: column;
    list-style: none;

   
}
li::before{
    content: "*";
    color: #7B68EE;
    font-size: 20px;
    margin-left: 1em;
    display: inline-block;
    width: 1em;

}
img{
    height:400px;
    
   
    
}

.show{
    opacity: 1;
    transition: all 3s;
    filter: blur(0);
    transform: translateX(0);
}



footer{
    height: 40%;
    background-color: azure;
}